<meta name="description" content="Take a short quiz on your ideal vacation and we'll recommend the best destination for you!">

<title>Travel Planner - 

<%= render :partial => 'templates/head' %>

<%= form_tag('/planner/display', id: "suggest") do %>

<div class="recommend">
	<span class="recommend-span">Pick a attraction</span>
</div>

<div class="card-flex">	

	<% @package.gen_attractions.order(:name).each do |attraction| %>
		<input type="checkbox" value="<%= attraction.id %>" id="<%= attraction.id %>" name="attraction_id[]">
		<label for="<%= attraction.id %>">
		<div class="hotel-card" id="hotel-card<%= attraction.id %>">

			<div class="flipper-card" id="card<%= attraction.id %>">

				<div class="front">

					<h2><span><%= attraction.name %></span></h2>

					<div class="price-img">
					  <%= image_tag(attraction.image_thumb.url) %>
					  <div></div>
					  <p><%= attraction.pricing %></p>
					</div>

					
					<div class="description"> 
						<div class="rating">
		          <span class="eleganticon icon_star"></span>
		          <div>
		            <p><%= attraction.rating %><span class="slash">/</span>5</p>
		          </div>
		        </div>       
		        <p><%= attraction.description %></p>        
		      </div>

		      <table>

			      <tr>

			        <td>
			          <span class="eleganticon icon_pin_alt"></span>
			          <div>
			            <p><%= attraction.location %></p>
			          </div>
			        </td>

		       </tr>

		       <tr>

			        <td>
			          <span class="eleganticon icon_globe-2"></span>
			          <div>
			            <a href="<%= attraction.website %>" target="_blank"><%= attraction.short_url %></a>
			          </div>
			        </td>

			      </tr>

			      <tr>

			        <td>
			          <span class="eleganticon icon_clock_alt"></span>
			          <div>
			            <p><%= attraction.hours %></p>
			          </div>
			        </td>

			      </tr>

			      <tr>

			        <td>
			          <span class="eleganticon icon_phone"></span>
			          <div>
			            <p><%= attraction.phone %></p>
			          </div>
			        </td>

			      </tr>

			    </table>

			    <button id="show<%= attraction.id %>">Show Map</button>

			  </div>


		    <div class="back back-flip">
	        <div class="map open"> 
	          <iframe src="<%= attraction.iframe_url %>"></iframe>
	          <button id="show<%= attraction.id %>">Hide Map</button>
	        </div>
	      </div>

      </div>

		</div>
		</label>
	<% end %>
</div>

<div class="controls">	
	<button id="suggest-continue" class="btn-slide btn icon-arrow-right continue" type="button">Continue</button>
</div>

<% end %>