<meta name="description" content="Take a short quiz on your ideal vacation and we'll recommend the best destination for you!">

<title>Travel Planner - 

<%= render :partial => 'templates/head' %>

<div class="content">

	<h1>Choose <span>one or more</span> Attractions</h1>

	<%= form_tag('/planner/display', id: "suggest") do %>

		<ul>

			<% @package.gen_attractions.order(:name).each do |attraction| %>

				<input type="checkbox" value="<%= attraction.id %>" id="<%= attraction.id %>" name="attraction_id[]">

		    <li class="item">
		      <div>
		        
		        <div class="price-img">
						  <%= image_tag(attraction.image_thumb.url) %>
						  <div></div>
						  <p><%= attraction.pricing %></p>
						</div>

		        <div class="description"> 
		        	<h2><%= attraction.name %></h2>       
			        <p><%= attraction.description %></p>
							<div class="rating">
			          <span class="eleganticon icon_star"></span>
			          <div><p><%= attraction.rating %><span class="slash">/</span>5</p></div>
			        </div>        
			      </div>

		      </div>

		      <div>

		        <table>

		          <tr>

		            <td>
				          <span class="eleganticon icon_pin_alt"></span>
				          <div>
				            <p><%= attraction.location %></p>
				          </div>
				        </td>

		            <td>
				          <span class="eleganticon icon_globe-2"></span>
				          <div>
				            <a href="<%= attraction.website %>" target="_blank"><%= attraction.short_url %></a>
				          </div>
				        </td>

		          </tr>

		          <tr>

		            <td>
		              <span class="eleganticon icon_clock_alt"></span>
		              <div>
		                <p><%= attraction.hours %></p>
		              </div>
		            </td>

		            <td>
		              <span class="eleganticon icon_phone"></span>
		              <div>
		                <p><%= attraction.phone %></p>
		              </div>
		            </td>

		          </tr>

		        </table>

		        <label for="<%= attraction.id %>">Select</label>

		      </div>

		    </li>

		    <hr>

		  <% end %>

		</ul>

		<div class="controls">	
			<div class="spacer"></div>
			<button id="suggest-continue" class="plnr-btn continue cont-only" type="button"><span class="planner-arrow arrow-right"></span><span class="planner-arrow arrow2 arrow-right"></span></button>
		</div>

	<% end %>
</div>