<% hotel = @package.gen_hotels.find_by_id(session[:hotel_id]) %>


<title>Travel Planner - 

<%= render :partial => 'templates/head' %>

<div class="content">

	<h1><span>Trip</span> Summary</h1>

<!-- city -->
	<h3>Destination</h3>
	<ul>

    <li class="item">
      <div>

        <div class="price-img">
          <%= image_tag(@package.image.url) %>
        </div>

        <div class="description">
          <h2><%= @package.name %></h2>
          <p><%= @package.gen_package_paragraphs.first.text %></p>
        </div>

      </div>
    </li>

  </ul>

<!-- hotel -->
	<h3>Hotel</h3>
  <ul>

    <li class="item">
      <div>

        <div class="price-img">
          <%= image_tag(hotel.image.url) %>
        </div>

        <div class="description">
          <h2><%= hotel.name %></h2>
          <p><%= hotel.description %></p>
        </div>

      </div>

      <div>

        <table>

          <tr>

            <td>
              <span class="eleganticon icon_pin_alt"></span>
              <div>
                <p><%= hotel.address %></p>
              </div>
            </td>

            <td>
              <span class="eleganticon icon_globe-2"></span>
              <div>
                <a href="<%= hotel.website %>" target="_blank"><%= login_text("Short URL: ") %><%= hotel.short_url %></a>                  
              </div>                
            </td>

          </tr>

          <tr>

            <td>
              <span class="eleganticon icon_clock_alt"></span>
              <div>
                <p><%= hotel.hours %></p>
              </div>
            </td>

            <td>
              <span class="eleganticon icon_phone"></span>
              <div>
                <p><%= hotel.phone %></p>
              </div>
            </td>

          </tr>

        </table>
      </div>
    </li>

  </ul>

<!-- list of restaurants -->
	<h3>Restaurants</h3>
  <ul>

  <% session[:restaurant_id].each do |restaurant_find| %> 
	<% restaurant = @package.gen_restaurants.find_by_id(restaurant_find) %>

    <li class="item">
      <div>

        <div class="price-img">
          <%= image_tag(restaurant.image.url) %>
        </div>

        <div class="description">
          <h2><%= restaurant.name %></h2>
          <p><%= restaurant.description %></p>
        </div>

      </div>

      <div>

        <table>

          <tr>

            <td>
              <span class="eleganticon icon_pin_alt"></span>
              <div>
                <p><%= restaurant.address %></p>
              </div>
            </td>

            <td>
              <span class="eleganticon icon_globe-2"></span>
              <div>
                <a href="<%= restaurant.website %>" target="_blank"><%= login_text("Short URL: ") %><%= restaurant.short_url %></a>                  
              </div>                
            </td>

          </tr>

          <tr>

            <td>
              <span class="eleganticon icon_clock_alt"></span>
              <div>
                <p><%= restaurant.hours %></p>
              </div>
            </td>

            <td>
              <span class="eleganticon icon_phone"></span>
              <div>
                <p><%= restaurant.phone %></p>
              </div>
            </td>

          </tr>

        </table>
      </div>
    </li>

    <% end %>

  </ul>

<!-- list of attractions -->
	<h3>Attractions</h3>
  <ul>

  <% session[:attraction_id].each do |attraction_find| %> 
	<% attraction = @package.gen_attractions.find_by_id(attraction_find) %>

    <li class="item">
      <div>

        <div class="price-img">
          <%= image_tag(attraction.image.url) %>
        </div>

        <div class="description">
          <h2><%= attraction.name %></h2>
          <p><%= attraction.description %></p>
        </div>

      </div>

      <div>

        <table>

          <tr>

            <td>
              <span class="eleganticon icon_pin_alt"></span>
              <div>
                <p><%= attraction.location %></p>
              </div>
            </td>

            <td>
              <span class="eleganticon icon_globe-2"></span>
              <div>
                <a href="<%= attraction.website %>" target="_blank"><%= login_text("Short URL: ") %><%= attraction.short_url %></a>                  
              </div>                
            </td>

          </tr>

          <tr>

            <td>
              <span class="eleganticon icon_clock_alt"></span>
              <div>
                <p><%= attraction.hours %></p>
              </div>
            </td>

            <td>
              <span class="eleganticon icon_phone"></span>
              <div>
                <p><%= attraction.phone %></p>
              </div>
            </td>

          </tr>

        </table>
      </div>
    </li>

    <hr>

    <% end %>

  </ul>

</div>