<meta name="description" content="Take a short quiz on your ideal vacation and we'll recommend the best destination for you!">

<title>Travel Planner - 

<%= render :partial => 'templates/head' %>

<div class="content">

	<h1>Choose <span>a</span> Hotel</h1>

	<%= form_tag('/planner/restaurant', id: "suggest") do %>

		<ul class="hotels">

			<% @package.gen_hotels.order(:name).each do |hotel| %>

				<input type="radio" value="<%= hotel.id %>" id="<%= hotel.id %>" name="hotel_id">

		    <li class="item">
		      <div>
		        
		        <div class="price-img">
						  <%= image_tag(hotel.image_thumb.url) %>
						  <div></div>
						  <p><%= hotel.pricing %></p>
						</div>

		        <div class="description"> 
		        	<h2><%= hotel.name %></h2>       
			        <p><%= hotel.description %></p>
							<div class="rating">
			          <span class="eleganticon icon_star"></span>
			          <div><p><%= hotel.rating %><span class="slash">/</span>5</p></div>
			        </div>        
			      </div>

		      </div>

		      <div>

		        <table>

		          <tr>

		            <td>
				          <span class="eleganticon icon_pin_alt"></span>
				          <div>
				            <p><%= hotel.address %></p>
				          </div>
				        </td>

		            <td>
				          <span class="eleganticon icon_globe-2"></span>
				          <div>
				            <a href="<%= hotel.website %>" target="_blank"><%= hotel.short_url %></a>
				          </div>
				        </td>

		          </tr>

		          <tr>

		            <td>
		              <span class="eleganticon icon_clock_alt"></span>
		              <div>
		                <p><%= hotel.hours %></p>
		              </div>
		            </td>

		            <td>
		              <span class="eleganticon icon_phone"></span>
		              <div>
		                <p><%= hotel.phone %></p>
		              </div>
		            </td>

		          </tr>

		        </table>

		        <label for="<%= hotel.id %>">Select</label>

		      </div>

		    </li>

		    <hr>

		  <% end %>

		</ul>

		<div class="controls">
			<div class="spacer"></div>	
			<button id="suggest-continue" class="plnr-btn continue cont-only" type="button"><span class="planner-arrow arrow-right"></span><span class="planner-arrow arrow2 arrow-right"></span></button>
		</div>

	<% end %>

</div>