<meta name="description" content="Take a short quiz on your ideal vacation and we'll recommend the best destination for you!">

<title>Travel Planner - 

<%= render :partial => 'templates/head' %>

<%= form_tag('/planner/restaurant', id: "suggest") do %>

<div class="recommend">
		<span class="recommend-span">Pick a hotel</span>
	</div>

<div class="card-flex">	

	<% @package.gen_hotels.order(:name).each do |hotel| %>
		<input type="radio" value="<%= hotel.id %>" id="<%= hotel.id %>" name="hotel_id">
		<label for="<%= hotel.id %>">
		<div class="hotel-card" id="hotel-card<%= hotel.id %>">

			<div class="flipper-card" id="card<%= hotel.id %>">

				<div class="front">

					<h2><span><%= hotel.name %></span></h2>

					<div class="price-img">
					  <%= image_tag(hotel.image_thumb.url) %>
					  <div></div>
					  <p><%= hotel.pricing %></p>
					</div>

					
					<div class="description"> 
						<div class="rating">
		          <span class="eleganticon icon_star"></span>
		          <div>
		            <p><%= hotel.rating %><span class="slash">/</span>5</p>
		          </div>
		        </div>       
		        <p><%= hotel.description %></p>        
		      </div>

		      <table>

			      <tr>

			        <td>
			          <span class="eleganticon icon_pin_alt"></span>
			          <div>
			            <p><%= hotel.address %></p>
			          </div>
			        </td>

		       </tr>

		       <tr>

			        <td>
			          <span class="eleganticon icon_globe-2"></span>
			          <div>
			            <a href="<%= hotel.website %>" target="_blank"><%= hotel.short_url %></a>
			          </div>
			        </td>

			      </tr>

			      <tr>

			        <td>
			          <span class="eleganticon icon_clock_alt"></span>
			          <div>
			            <p><%= hotel.hours %></p>
			          </div>
			        </td>

			      </tr>

			      <tr>

			        <td>
			          <span class="eleganticon icon_phone"></span>
			          <div>
			            <p><%= hotel.phone %></p>
			          </div>
			        </td>

			      </tr>

			    </table>

			    <button id="show<%= hotel.id %>">Show Map</button>

			  </div>


		    <div class="back back-flip">
	        <div class="map open"> 
	          <iframe src="<%= hotel.iframe_url %>"></iframe>
	          <button id="show<%= hotel.id %>">Hide Map</button>
	        </div>
	      </div>

      </div>

		</div>
		</label>
	<% end %>
</div>

<div class="controls">	
	<button id="suggest-continue" class="btn-slide btn icon-arrow-right continue" type="button">Continue</button>
</div>

<% end %>