<%= form_tag('planner#suggest', id: "questions") do %>
	<% i = 1 %>
	<% @questions.each do |question| %>
		<div class="question  <% if(i > 1)%><%= 'right-away' %><% end %>" id="q<%= i %>">
			<span class="span-question"><%= bip_url(question, :text, 'planner/q') %></span>

			<div class="answer-group">

				<% @answers[i - 1].each do |answer| %>

					<label for="<%= i %><%= answer.id %>" data-color="<%= answer.color %>" class="<%= answer.color %> answer">
						<input type="radio" name="<%= i %>" id="<%= i %><%= answer.id %>" value="<%= answer.score %>">
						<label for="<%= i %><%= answer.id %>"><%= bip_url(answer, :text, 'planner/a') %>
								<%= login_text("<br/>") %><%= bip_url(answer, :color, 'planner/a', false) %>
								<%= login_text("<br/>") %><%= bip_url(answer, :score, 'planner/a', false) %>
						</label>
					</label>
				<% end %>
			</div>

			<% if user_signed_in? %>
				<% question.answer_values.order(:id).each do |value| %>
					<%= value.package.name %>:
					<%= bip_url(value, :score, 'planner/av') %>
					<br/>

				<% end %>
			<% end %>

			<%= cms_delete(question, 'planner/delete') %>

		</div>

		<% i += 1 %>
	<% end %>

	<div class="controls">
		<button id="previous" class="grey-left btn-slide btn icon-arrow-left" type="button">Previous</button>
		<div class="display">
			<span id="current" class="count">1</span>
			<span class="divider">/</span>
			<span id="number" class="count"><%= @questions.count %></span>
		</div>
		<button id="next" class="btn-slide btn icon-arrow-right" type="button">Next</button>
	</div>

	<% if user_signed_in? %>
		<%= cms_add('planner/add', 'Add Question') %>
	<% end %>

<% end %>

