<form>
	<% i = 1 %>
	<% @questions.each do |question| %>
		<div class="question  <% if(i > 1)%><%= 'right-away' %><% end %>" id="q<%= i %>">
			<span><%= question.text %></span>

			<div class="answer-group">

				<% @answers[i - 1].each do |answer| %>

					<label for="<%= i %><%= answer.label %>" data-color="<%= answer.color %>" class="<%= answer.color %> answer">
						<input type="radio" name="weather" id="<%= i %><%= answer.label %>" value="<%= answer.score %>">
						<label for="<%= i %><%= answer.label %>"><%= answer.text %></label>
					</label>
				<% end %>
			</div>
		</div>
		<% i += 1 %>
	<% end %>

	<div class="controls">
		<button id="previous" class="grey-left btn-slide btn icon-arrow-left" type="button">Previous</button>
		<div class="display">
			<span id="current" class="count">1</span>
			<span class="divider">/</span>
			<span id="number" class="count"><%= @questions.count %></span>
		</div>
		<button id="next" class="btn-slide btn icon-arrow-right" type="button">Next</button>
	</div>

</form>