<meta name="description" content="Take a short quiz on your ideal vacation and we'll recommend the best destination for you!">

<title>Travel Planner - 

<%= render :partial => 'templates/head' %>

<%= form_tag('/planner/attraction', id: "suggest") do %>

<div class="recommend">
	<span class="recommend-span">Pick one or more restaurants</span>
</div>

<div class="card-flex">	

	<% @package.gen_restaurants.order(:name).each do |restaurant| %>
		<input type="checkbox" value="<%= restaurant.id %>" id="<%= restaurant.id %>" name="restaurant_id[]">
		<label for="<%= restaurant.id %>">
		<div class="hotel-card">

			<div class="flipper-card" id="<%= restaurant.id %>">

				<div class="front">

					<h2><span><%= restaurant.name %></span></h2>

					<div class="price-img">
					  <%= image_tag(restaurant.image_thumb.url) %>
					  <div></div>
					  <p><%= restaurant.pricing %></p>
					</div>

					
					<div class="description"> 
						<div class="rating">
		          <span class="eleganticon icon_star"></span>
		          <div>
		            <p><%= restaurant.rating %><span class="slash">/</span>5</p>
		          </div>
		        </div>       
		        <p><%= restaurant.description %></p>        
		      </div>

		      <table>

			      <tr>

			        <td>
			          <span class="eleganticon icon_pin_alt"></span>
			          <div>
			            <p><%= restaurant.address %></p>
			          </div>
			        </td>

		       </tr>

		       <tr>

			        <td>
			          <span class="eleganticon icon_globe-2"></span>
			          <div>
			            <a href="<%= restaurant.website %>" target="_blank"><%= restaurant.short_url %></a>
			          </div>
			        </td>

			      </tr>

			      <tr>

			        <td>
			          <span class="eleganticon icon_clock_alt"></span>
			          <div>
			            <p><%= restaurant.hours %></p>
			          </div>
			        </td>

			      </tr>

			      <tr>

			        <td>
			          <span class="eleganticon icon_phone"></span>
			          <div>
			            <p><%= restaurant.phone %></p>
			          </div>
			        </td>

			      </tr>

			    </table>

			    <button id="show<%= restaurant.id %>">Show Map</button>

			  </div>


		    <div class="back back-flip">
	        <div class="map open"> 
	          <iframe src="<%= restaurant.iframe_url %>"></iframe>
	          <button id="show<%= restaurant.id %>">Hide Map</button>
	        </div>
	      </div>

      </div>

		</div>
		</label>
	<% end %>
</div>

<div class="controls">	
	<button id="suggest-continue" class="btn-slide btn icon-arrow-right continue" type="button">Continue</button>
</div>

<% end %>