<meta name="description" content="Take a short quiz on your ideal vacation and we'll recommend the best destination for you!">

<title>Travel Planner - 

<%= render :partial => 'templates/head' %>

<div class="content">

	<h1><span>Our</span> Suggestion</h1>

	<%= form_tag('/planner/hotel', id: "suggest") do %>
		<!-- <div class="recommend">
			<span class="recommend-span">We recommend a vacation to:</span>
		</div> -->

		<div class="choice">

			<% i = 1 %>
			<% @packages.each do |package| %>

				<ul id="dest<%= package.id %>" class="option<%= i %> option not-visible">

			    <li class="item">
			      <div>

			        <div class="price-img">
			          <%= image_tag(package.image.url) %>
			        </div>

			        <div class="description">
			          <h2><%= package.name %></h2>
			          <p><%= package.gen_package_paragraphs.first.text %></p>
			        </div>

			      </div>
			    </li>

			  </ul>

			  <% i += 1 %>

			<% end %>

		</div>

		<input type="text" name="city_id" id="city_id" style="display:none" value="<%= @packages.first.id %>">


		<div class="controls">
			<button id="another" class="plnr-btn" type="button">Pick Another</button>
			<div class="spacer tall"></div>
			<button id="suggest-continue" class="plnr-btn continue cont-only" type="button"><span class="planner-arrow arrow-right"></span><span class="planner-arrow arrow2 arrow-right"></span></button>
		</div>

	<% end %>

	<div class="others-container">
		<div class="others">

			<% i = 1 %>
			<% @packages.each do |package| %>

				<div>

					<a id="choose<%= package.id %>" class="choose">
						<%= image_tag(package.image.url) %>
						<div class="info">
							<div><span><%= i.ordinalize %></span></div>
							<div><span class="name"><%= package.name %></span></div>
							<p><%= package.gen_package_paragraphs.first.text %></p>
						</div>
					</a>

				</div>

				<% i += 1 %>

			<% end %>

		</div>
	</div>

</div>

<script>
	$(document).ready(function() {
		$('.option1').removeClass('not-visible');
	});
</script>