<h1>Listing gen_restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Pricing</th>
      <th>Address</th>
      <th>Link</th>
      <th>Image description</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Hours</th>
      <th>Rating</th>
      <th>Iframe</th>
      <th>Button</th>
      <th>Gen packages</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gen_restaurants.each do |gen_restaurant| %>
      <tr>
        <td><%= gen_restaurant.name %></td>
        <td><%= gen_restaurant.description %></td>
        <td><%= gen_restaurant.pricing %></td>
        <td><%= gen_restaurant.address %></td>
        <td><%= gen_restaurant.link %></td>
        <td><%= gen_restaurant.image_description %></td>
        <td><%= gen_restaurant.phone %></td>
        <td><%= gen_restaurant.website %></td>
        <td><%= gen_restaurant.hours %></td>
        <td><%= gen_restaurant.rating %></td>
        <td><%= gen_restaurant.iframe_id %></td>
        <td><%= gen_restaurant.button_id %></td>
        <td><%= gen_restaurant.gen_packages %></td>
        <td><%= link_to 'Show', gen_restaurant %></td>
        <td><%= link_to 'Edit', edit_gen_restaurant_path(gen_restaurant) %></td>
        <td><%= link_to 'Destroy', gen_restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gen restaurant', new_gen_restaurant_path %>
