<%= render :partial => 'templates/tiles' %>

<%= render :partial => 'templates/slideshow' %>

<%= render :partial => 'templates/flipper' %>

<div class="content">

  <h1>Places to eat <span>in <%= @city.name %></span></h1>

  <ul>

    <% @city.gen_restaurants.each do |restaurant| %>

      <li class="item">
        <div>
          
          <div class="price-img">
            <%= image_tag(restaurant.image_thumb.url) %>
            <div></div>
            <p><%= best_in_place_if user_signed_in?, restaurant, :pricing, path: 'gen_restaurants/' + restaurant.id.to_s %></p>
          </div>

          <div class="description">
            <h2><%= best_in_place_if user_signed_in?, restaurant, :name, path: 'gen_restaurants/' + restaurant.id.to_s %></h2>
            <p><%= best_in_place_if user_signed_in?, restaurant, :description, type: :textarea, path: 'gen_restaurants/' + restaurant.id.to_s %></p>
            <div class="rating">
              <span class="glyphicon glyphicon-star-empty"></span>
              <div>
                <p><%= best_in_place_if user_signed_in?, restaurant, :rating, path: 'gen_restaurants/' + restaurant.id.to_s %><span>/</span>5</p>                
              </div>
              <% if user_signed_in? %>
              
              <%= form_for restaurant, :url => 'gen_restaurants/' + restaurant.id.to_s, :html => { :multipart => true } do |form| %>
              Thumbnail Image
              <%= form.file_field :image_thumb %>
              <%= form.submit %>
            <% end %>
            <% end %>

            <% if user_signed_in? %>
            
              <%= form_for restaurant, :url => 'gen_restaurants/' + restaurant.id.to_s, :html => { :multipart => true } do |form| %>
              Slideshow Image
              <%= form.file_field :image %>
              <%= form.submit %>
            <% end %>
            <% end %>
            </div>
          </div>

        </div>

        <div>

          <table>

            <tr>

              <td>
                <span class="glyphicon glyphicon-map-marker"></span>
                <div>
                  <p><%= best_in_place_if user_signed_in?, restaurant, :address, path: 'gen_restaurants/' + restaurant.id.to_s %></p>
                </div>
              </td>

              <td>
                <span class="glyphicon glyphicon-globe"></span>
                <div>
                  <a href="<%= restaurant.website_url %>" target="_blank"><%= best_in_place_if user_signed_in?, restaurant, :website, path: 'gen_restaurants/' + restaurant.id.to_s %></a>
                </div>
              </td>

            </tr>

            <tr>

              <td>
                <span class="glyphicon glyphicon-time"></span>
                <div>
                  <p><%= best_in_place_if user_signed_in?, restaurant, :hours, path: 'gen_restaurants/' + restaurant.id.to_s %></p>
                </div>
              </td>

              <td>
                <span class="glyphicon glyphicon-earphone"></span>
                <div>
                  <p><%= best_in_place_if user_signed_in?, restaurant, :phone, path: 'gen_restaurants/' + restaurant.id.to_s %></p>
                </div>
              </td>

            </tr>

          </table>
          <% if user_signed_in? %>
            <%= link_to 'Delete', 'gen_restaurants/' + restaurant.id.to_s, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>

          <button id="show<%= restaurant.iframe_id %>">Show/hide map<span class="caret"></span></button>

        </div>

        <div class="map" id="<%= restaurant.iframe_id %>">

          <iframe src="<%= restaurant.iframe_url %>"></iframe>

        </div>

      </li>

    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'New Restaurant', gen_restaurants_path, method: :create %>
    <% end %>

</div>