<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gen_restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gen_restaurant.description %>
</p>

<p>
  <strong>Pricing:</strong>
  <%= @gen_restaurant.pricing %>
</p>

<p>
  <strong>Address:</strong>
  <%= @gen_restaurant.address %>
</p>

<p>
  <strong>Link:</strong>
  <%= @gen_restaurant.link %>
</p>

<p>
  <strong>Image description:</strong>
  <%= @gen_restaurant.image_description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @gen_restaurant.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @gen_restaurant.website %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @gen_restaurant.hours %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @gen_restaurant.rating %>
</p>

<p>
  <strong>Iframe:</strong>
  <%= @gen_restaurant.iframe_id %>
</p>

<p>
  <strong>Button:</strong>
  <%= @gen_restaurant.button_id %>
</p>

<p>
  <strong>Gen packages:</strong>
  <%= @gen_restaurant.gen_packages %>
</p>

<%= link_to 'Edit', edit_gen_restaurant_path(@gen_restaurant) %> |
<%= link_to 'Back', gen_restaurants_path %>
