<meta name="description" content="Learn about Business Professionals of America and why this site was built.">

<title>BPA - 

<%= render :partial => 'templates/head' %>

<div class="content">

  <h1>Business Professionals <span>of</span> America</h1>

  <ul>

    <li class="item">
      <div>

        <div class="price-img">
          <%= image_tag("bpa_logo2.png") %>
        </div>

        <div class="description">
          <!-- <h2></h2> -->
          <p>This site was created by members of the Business Professionals of America, Lake City High School Chapter in Coeur d'Alene, Idaho, for the "A World of Adventure, A Lifetime of Memories" themed Web Site Design Team event at the 2015 National Leadership Conference in Anaheim, California.</p>
        </div>

      </div>
    </li>

  </ul>

</div>











<!-- <h1>Listing bpas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bpas.each do |bpa| %>
      <tr>
        <td><%= link_to 'Show', bpa %></td>
        <td><%= link_to 'Edit', edit_bpa_path(bpa) %></td>
        <td><%= link_to 'Destroy', bpa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bpa', new_bpa_path %>
 -->