<footer>

	<div class="social">

		<div>
			<a href="">
				<%= image_tag("icons/facebook.png") %>
				<span>Like us on Facebook</span>
			</a>
		</div>

		<div>
			<a href="">
				<%= image_tag("icons/twitter.png") %>
				<span>Follow us on Twitter</span>
			</a>
		</div>

		<div>
			<a href="">
				<%= image_tag("icons/google_plus.png") %>
				<span>Like us on Google+</span>
			</a>
		</div>

		<div>
			<a href="">
				<%= image_tag("icons/instagram.png") %>
				<span>Follow us on Instagram</span>
			</a>
		</div>

	</div>

	<div class="copy">
		<p>
			<span class="copyline">&copy; 2014 Insert Name Here</span><span>|</span>
			<%= link_to 'About Us', '/about' %><span>|</span>
			<%= link_to 'Copyrights', '/copyrights' %><span>|</span>
			<%= link_to 'BPA', '/bpas' %><span>|</span>
			<% if user_signed_in? %>
				<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to 'Login', user_session_path %>
			<% end %>
			
		</p>
	</div>

</footer>