<nav>

	<div class="nav-header">
		<%= link_to('/home') do %>
			<!-- <div class="animation nav-animation">
				<span class="eleganticon icon_globe-2"></span>
		
				<div class="circle inner">
					<span class="w">w</span>
				</div>

				<div class="circle middle">
					<span class="w">w</span>
				</div>

				<div class="circle outer">
					<span class="w">w</span>
				</div>
			</div> -->

			<span class="eleganticon icon_globe-2"></span><span class="first-letter">W</span><span class="hide">orld</span> <span class="first-letter">W</span><span class="hide">ide</span> <span class="first-letter">W</span><span class="hide">anderings</span></span>
		<% end %>
	</div>

	<div class="nav-right">

		<div class="dropdown destinations">
			<span class="nav-heading">Destinations</span>

			<div class="nav-list">
				<% @gen_package.order(:name).each do |package| %>
					<div class="nav-item">
						<span><%= package.name %></span>

						<ul>
							<li><%= link_to("/#{package.name}") do %>
								About<span class="eleganticon icon_info_alt"></span>
							<% end %></li>
							<li><%= link_to("/#{package.name}/hotels") do %>
								Hotels<span class="eleganticon icon_building"></span>
							<% end %></li>
							<li><%= link_to("/#{package.name}/restaurants") do %>
								Restaurants<span class="eleganticon icon_mug"></span>
							<% end %></li>
							<li><%= link_to("/#{package.name}/attractions") do %>
								Attractions<span class="eleganticon icon_camera_alt"></span>
							<% end %></li>
						</ul>

					</div>
				<% end %>
			</div>

		</div>

		<div class="dropdown about">
			<span class="nav-heading">About Us</span>

			<div class="nav-list">

				<%= link_to('/contact') do %>
					<div class="nav-item">
						<span>Contact Us</span>
					</div>
				<% end %>

				<%= link_to('/about') do %>
					<div class="nav-item">
						<span>The Developers</span>
					</div>
				<% end %>

				<%= link_to('/bpas') do %>
					<div class="nav-item">
						<span>BPA</span>
					</div>
				<% end %>

				<%= link_to('/copyrights') do %>
					<div class="nav-item">
						<span>Copyrights</span>
					</div>
				<% end %>

				<%= link_to('/w3c') do %>
					<div class="nav-item">
						<span>Validation</span>
					</div>
				<% end %>

			</div>

		</div>

	</div>

	<button><span class="nav-arrow"></span></button>

	<div class="nav-mobile">
		<button class="nav-btn"><span class="eleganticon arrow_left-right_alt"></span></button>

		<div class="dest-mobile">
			<span class="nav-heading">Destinations</span>

			<% @gen_package.order(:name).each do |package| %>
				<div>
					<span class="package-name"><%= package.name %></span>

					<ul class="mobile-nav-list">

						<li><%= link_to("/#{package.name}") do %>
							About<span class="eleganticon icon_info_alt"></span>
						<% end %></li>

						<li><%= link_to("/#{package.name}/hotels") do %>
							Hotels<span class="eleganticon icon_building"></span>
						<% end %></li>

						<li><%= link_to("/#{package.name}/restaurants") do %>
							Restaurants<span class="eleganticon icon_mug"></span>
						<% end %></li>

						<li><%= link_to("/#{package.name}/attractions") do %>
							Attractions<span class="eleganticon icon_camera_alt"></span>
						<% end %></li>

					</ul>

				</div>
			<% end %>

		</div>

		<div class="about-mobile hidden">
			<span class="nav-heading">About Us</span>

			<div>
				<%= link_to('/contact') do %>
					<span class="package-name">Contact Us</span>
				<% end %>
			</div>

			<div>
				<%= link_to('/abouts') do %>
					<span class="package-name">The Developers</span>
				<% end %>
			</div>

			<div>
				<%= link_to('/bpas') do %>
					<span class="package-name">BPA</span>
				<% end %>
			</div>

			<div>
				<%= link_to('/copyrights') do %>
					<span class="package-name">Copyrights</span>
				<% end %>
			</div>

			<div>
				<%= link_to('/w3c') do %>
					<span class="package-name">Validation</span>
				<% end %>
			</div>

		</div>

	</div>

</nav>