<nav>

	<div>
		<%= link_to('/home') do %>
			<span>Home</span>
		<% end %>
	</div>

	<div class="dropdown">
		<span>General Packages</span>

		<div>
			<% @gen_package.each do |package| %>
				<div>
					<%= link_to("/#{package.link}") do %>
						<span><%= package.name %></span>
						<ul>
							<li><%= link_to "Hotels","/#{package.link}/hotels" %></li>
							<li><%= link_to "Restaurants","/#{package.link}/restaurants" %></li>
							<li><%= link_to "Attractions","/#{package.link}/attractions" %></li>
						</ul>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>

	<div class="dropdown">
		<span>Holiday Packages</span>

		<div>			
			<% @hol_package.each do |package| %>
				<div>
					<%= link_to("/#{package.link}") do %>
						<span><%= package.name %></span>
						<ul>
							<li><%= link_to "Hotels","/#{package.link}/hotels" %></li>
							<li><%= link_to "Restaurants","/#{package.link}/restaurants" %></li>
							<li><%= link_to "Attractions","/#{package.link}/attractions" %></li>
						</ul>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>

	<div>
		<%= link_to('/calendar') do %>
			<span>Calendar</span>
		<% end %>
	</div>

</nav>