<nav>

<!-- 	<div>
		<%= link_to('/home') do %>
			<span class="nav-heading">Home</span>
		<% end %>
	</div> -->

	<div class="nav-header">
		<%= link_to('/home') do %>
			<span>World Wide Wanderings</span>
		<% end %>
	</div>

	<div class="nav-right">

		<div class="dropdown">
			<span class="nav-heading">General Packages</span>

			<div class="nav-list">
				<% @gen_package.order(:name).each do |package| %>
					<div class="nav-item">
						<span><%= package.name %></span>

						<ul>
							<li><%= link_to "About","/#{package.name}" %></li>
							<li><%= link_to "Hotels","/#{package.name}/hotels" %></li>
							<li><%= link_to "Restaurants","/#{package.name}/restaurants" %></li>
							<li><%= link_to "Attractions","/#{package.name}/attractions" %></li>
						</ul>

					</div>
				<% end %>
			</div>

		</div>

		<div class="dropdown">
			<span class="nav-heading">Holiday Packages</span>

			<div class="nav-list">
				<% @hol_package.order(:name).each do |package| %>
					<div class="nav-item">
						<span><%= package.name %></span>

						<ul>
							<li><%= link_to "Hotels","/holiday/#{package.name}/hotels" %></li>
							<li><%= link_to "Restaurants","/holiday/#{package.name}/restaurants" %></li>
							<li><%= link_to "Attractions","/holiday/#{package.name}/attractions" %></li>
						</ul>
					
					</div>
				<% end %>
			</div>

		</div>

		<!-- <div>
			<%= link_to('/calendar') do %>
				<span class="nav-heading">Calendar</span>
			<% end %>
		</div> -->

	</div>

</nav>