<nav>

	<div class="nav-header">
		<%= link_to('/home') do %>
			<!-- <div class="animation nav-animation">
				<span class="eleganticon icon_globe-2"></span>
		
				<div class="circle inner">
					<span class="w">w</span>
				</div>

				<div class="circle middle">
					<span class="w">w</span>
				</div>

				<div class="circle outer">
					<span class="w">w</span>
				</div>
			</div> -->

			<span class="eleganticon icon_globe-2"></span><span class="first-letter">W</span><span class="hide">orld</span> <span class="first-letter">W</span><span class="hide">ide</span> <span class="first-letter">W</span><span class="hide">anderings</span></span>
		<% end %>
	</div>

	<div class="nav-right">

		<div class="dropdown">
			<span class="nav-heading">General Packages</span>

			<div class="nav-list">
				<% @gen_package.order(:name).each do |package| %>
					<div class="nav-item">
						<span><%= package.name %></span>

						<ul>
							<li><%= link_to("/#{package.name}") do %>
								About<span class="eleganticon icon_info_alt"></span>
							<% end %></li>
							<li><%= link_to("/#{package.name}/hotels") do %>
								Hotels<span class="eleganticon icon_building"></span>
							<% end %></li>
							<li><%= link_to("/#{package.name}/restaurants") do %>
								Restaurants<span class="eleganticon icon_mug"></span>
							<% end %></li>
							<li><%= link_to("/#{package.name}/attractions") do %>
								Attractions<span class="eleganticon icon_camera_alt"></span>
							<% end %></li>
						</ul>

					</div>
				<% end %>
			</div>

		</div>

		<!-- <div class="dropdown">
			<span class="nav-heading">Holiday Packages</span>

			<div class="nav-list">
				<% @hol_package.order(:name).each do |package| %>
					<div class="nav-item">
						<span><%= package.name %></span>

						<ul>
							<li><%= link_to "Hotels","/holiday/#{package.name}/hotels" %></li>
							<li><%= link_to "Restaurants","/holiday/#{package.name}/restaurants" %></li>
							<li><%= link_to "Attractions","/holiday/#{package.name}/attractions" %></li>
						</ul>
					
					</div>
				<% end %>
			</div>

		</div> -->

		<!-- <div>
			<%= link_to('/calendar') do %>
				<span class="nav-heading">Calendar</span>
			<% end %>
		</div> -->

	</div>

	<button><span class="nav-arrow"></span></button>

	<div class="nav-mobile">

		<div>
			<span class="nav-heading">General Packages</span>

			<% @gen_package.order(:name).each do |package| %>
				<div>
					<span class="package-name"><%= package.name %></span>

					<ul class="mobile-nav-list">

						<li><%= link_to("/#{package.name}") do %>
							About<span class="eleganticon icon_info_alt"></span>
						<% end %></li>

						<li><%= link_to("/#{package.name}/hotels") do %>
							Hotels<span class="eleganticon icon_building"></span>
						<% end %></li>

						<li><%= link_to("/#{package.name}/restaurants") do %>
							Restaurants<span class="eleganticon icon_mug"></span>
						<% end %></li>

						<li><%= link_to("/#{package.name}/attractions") do %>
							Attractions<span class="eleganticon icon_camera_alt"></span>
						<% end %></li>

					</ul>

				</div>
			<% end %>

		</div>

	</div>

</nav>