<nav>

	<div>
		<%= link_to('/home') do %>
			<span>Home</span>
		<% end %>
	</div>

	<div class="dropdown">
		<span>General Packages</span>

		<div>
			<% city_names = ["Hawaii","London","New York","Seattle","Sydney","Washington"] %>
			<% city_links = ["hawaii","london","new_york","seattle","sydney","washington"] %>
			<% city_names.zip(city_links).each do |name,link| %>
				<div>
					<%= link_to("/#{link}") do %>
						<span><%= name %></span>
						<ul>
							<li><%= link_to "Hotels","/#{link}/hotels" %></li>
							<li><%= link_to "Restaurants","/#{link}/restarants" %></li>
							<li><%= link_to "Attractions","/#{link}/attractions" %></li>
						</ul>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>

	<div class="dropdown">
		<span>Holiday Packages</span>

		<div>
			<% holiday_names = ["Christmas","Spring Break","Thanksgiving","Valentine's Day"] %>
			<% holiday_links = ["christmas","spring_break","thanksgiving","valentines"] %>
			<% holiday_names.zip(holiday_links).each do |name,link| %>
				<div>
					<%= link_to("/#{link}") do %>
						<span><%= name %></span>
						<ul>
							<li><%= link_to "Hotels","/#{link}/hotels" %></li>
							<li><%= link_to "Restaurants","/#{link}/restarants" %></li>
							<li><%= link_to "Attractions","/#{link}/attractions" %></li>
						</ul>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>

	<div>
		<%= link_to('/calendar') do %>
			<span>Calendar</span>
		<% end %>
	</div>

</nav>