<div class="weather">

	<button id="flipperBtn"></button>

	<%= @weather.forecasts[0].date.inspect %>
	<br/>
	Weather:<%= @weather.forecasts[0].text %>
	<br/>
	High:<%= @weather.forecasts[0].high %>
	<br/>
	Low:<%= @weather.forecasts[0].low %>
	<br/>
	Image-width:<%= @weather.doc["image"]["width"] %>

	<!-- So I have a weather-format.txt file under the main travel folder. You can use it to see hwo to access what data. Basically if an @ sign precedes the data name in the text file you need to use a dot. Like @weather.lat
	If the naem is not preceded by an @ but in qoutes, you need to access it with arrays. Like in the above @weather.doc["image"]["width"].
	The forecasts are an exception. the gem does a special thing and turns it into a property of the weather object for us. This means you can access the forecasts by using @weather.forecasts[i].whatever
	It is a 5-day forecast and the current day is 0, the 5th is index 4.
	If you need to loop through them you can use 

	@weather.forecasts.each do |forecast|
		forecast.high
		forecast.low
		forecast.text
		forecast.date.inspect
	end

	it just does the weather for hawaii right now, I still need to get the city codes for the other places and put them into the database.
	-->
</div>