<div class="weather">

	<button id="flipperBtn"><span class="glyphicon glyphicon-plus"></span></button>

	<span>Weather Conditions</span>

	<% if @weather.is_a? Array %>

		<div class="weather-slide">
			<ul class="weather-bxslider">

				<% @weather.each do |city_weather| %>

					<li>

						<div>

							<p class="weather-city"><%= city_weather.doc["location"]["city"] %></p>

							<div class="hi-lo">
								<span class="temp-high"><%= city_weather.forecasts[0].high %>&deg; F</span>
								<span class="slash">/</span>
								<span class="temp-low"><%= city_weather.forecasts[0].low %>&deg; F</span>
							</div>
							
							<div class="weather-graphic">
								<span>Now:</span>
								<p class="temp-now"><%= city_weather.condition.temp %>&deg; F</p>
								<span><%= city_weather.forecasts[0].text %></span>
								<!-- <div class="icon icon-cloud"></div> -->

								<% text = city_weather.forecasts[0].text %>
								<%= pick_weather(text) %>

							</div>

						</div>

					</li>

				<% end %>

			</ul>

		</div>

	<% else %>

		<div>

			<p class="weather-city"><%= @weather.doc["location"]["city"] %></p>

			<div class="hi-lo">
				<span class="temp-high"><%= @weather.forecasts[0].high %>&deg; F</span>
				<span class="slash">/</span>
				<span class="temp-low"><%= @weather.forecasts[0].low %>&deg; F</span>
			</div>
			
			<div class="weather-graphic">
				<span>Now:</span>
				<p class="temp-now"><%= @weather.condition.temp %>&deg; F</p>
				<span><%= @weather.forecasts[0].text %></span>

				<% @weather.forecasts[0].code %>

				<% text = @weather.forecasts[0].text %>
				<%= pick_weather(text) %>

			</div>

		</div>

	<% end %>
	
</div>