<div class="weather">

	<button id="flipperBtn"><span class="glyphicon glyphicon-plus"></span></button>

	<span>Weather Conditions</span>

	<% if @weather.is_a? Array %>

		<div class="weather-slide">
			<ul class="weather-bxslider">

				<% @weather.each do |city_weather| %>

					<li>

						<div>

							<p class="weather-city"><%= city_weather.doc["location"]["city"] %></p>

							<div class="hi-lo">
								<span class="temp-high"><%= city_weather.forecasts[0].high %>&deg; F</span>
								<span class="slash">/</span>
								<span class="temp-low"><%= city_weather.forecasts[0].low %>&deg; F</span>
							</div>
							
							<div class="weather-graphic">
								<span>Now:</span>
								<p class="temp-now"><%= city_weather.condition.temp %>&deg; F</p>
								<span><%= city_weather.forecasts[0].text %></span>
								<!-- <div class="icon icon-cloud"></div> -->

								<% text = city_weather.forecasts[0].text

								case text

									when "Cloudy", "Mostly Cloudy" %>
										<div class="icon icon-cloud"></div>

									<% when "Sunny", "Mostly Clear", "Mostly Sunny" %>
										<div class="icon icon-sun"></div>

									<% when "PM Showers", "Showers" %>
										<div class="icon icon-basecloud"></div>
										<div class="icon icon-showers"></div>

									<% when "Partly Cloudy" %>
										<div class="icon icon-basecloud"></div>
										<div class="icon icon-sunny"></div>

									<% when "Partly Cloudy/Wind" %>
										<div class="icon icon-basecloud"></div>
										<div class="icon icon-windy"></div>
										<div class="icon icon-sunny"></div>

									<% when "Rain/Wind Late" %>
										<div class="icon icon-windyraincloud"></div>
										<div class="icon icon-windyrain"></div>

									<% when "Rain/Wind" %>
										<div class="icon icon-windyraincloud"></div>
										<div class="icon icon-windyrain"></div>

									<% when "Clouds Early/Clearing Late" %>
										<div class="icon icon-2 icon-basecloud"></div>
										<div class="icon icon-2 icon-sunny"></div>
										<div class="icon icon-moon"></div>
									
								<% end %>

							</div>

						</div>

					</li>

				<% end %>

			</ul>

		</div>

	<% else %>

		<div>

			<p class="weather-city"><%= @weather.doc["location"]["city"] %></p>

			<div class="hi-lo">
				<span class="temp-high"><%= @weather.forecasts[0].high %>&deg; F</span>
				<span class="slash">/</span>
				<span class="temp-low"><%= @weather.forecasts[0].low %>&deg; F</span>
			</div>
			
			<div class="weather-graphic">
				<span>Now:</span>
				<p class="temp-now"><%= @weather.condition.temp %>&deg; F</p>
				<span><%= @weather.forecasts[0].text %></span>

				<% @weather.forecasts[0].code %>

				<% text = @weather.forecasts[0].text

				case text

					when "Cloudy", "Mostly Cloudy" %>
						<div class="icon icon-cloud"></div>

					<% when "PM Showers", "Showers" %>
						<div class="icon icon-basecloud"></div>
						<div class="icon icon-showers"></div>

					<% when "Partly Cloudy" %>
						<div class="icon icon-basecloud"></div>
						<div class="icon icon-sunny"></div>

					<% when "Partly Cloudy/Wind" %>
						<div class="icon icon-basecloud"></div>
						<div class="icon icon-windy"></div>
						<div class="icon icon-sunny"></div>

					<% when "Rain/Wind Late" %>
						<div class="icon icon-windyraincloud"></div>
						<div class="icon icon-windyrain"></div>

					<% when "Rain/Wind" %>
						<div class="icon icon-windyraincloud"></div>
						<div class="icon icon-windyrain"></div>
					
				<% end %>

			</div>

		</div>

	<% end %>
	
</div>