<div class="weather">

	<button id="flipperBtn"><span class="glyphicon glyphicon-plus"></span></button>

	<span>Weather Conditions</span>

		<% if @weather.is_a? Array %>

			<div class="weather-slide">
			<ul class="weather-bxslider">

			<% @weather.each do |city_weather| %>

				<li>

					<div>

						<p class="weather-city"><%= city_weather.doc["location"]["city"] %></p>

						<div class="hi-lo">
							<span class="temp-high"><%= city_weather.forecasts[0].high %>&deg; F</span>
							<span class="slash">/</span>
							<span class="temp-low"><%= city_weather.forecasts[0].low %>&deg; F</span>
						</div>
						
						<div class="weather-graphic">
							<span>Now:</span>
							<p class="temp-now">32&deg; F</p>
							<span><%= city_weather.forecasts[0].text %></span>
							<div class="icon icon-cloud"></div>
						</div>

					</div>

				</li>

			<% end %>

			</ul>

		<% else %>

			<div>

				<p class="weather-city"><%= @weather.doc["location"]["city"] %></p>

				<div class="hi-lo">
					<span class="temp-high"><%= @weather.forecasts[0].high %>&deg; F</span>
					<span class="slash">/</span>
					<span class="temp-low"><%= @weather.forecasts[0].low %>&deg; F</span>
				</div>
				
				<div class="weather-graphic">
					<span>Now:</span>
					<p class="temp-now"><%= @weather.condition.temp %>&deg; F</p>
					<span><%= @weather.forecasts[0].text %></span>

					<% text = @weather.forecasts[0].text

					if text == 'Mostly Clear' || text == 'Partly Sunny' || text == 'Partly Cloudy' %>
						<div class="icon icon-basecloud"></div>
						<div class="icon icon-sunny"></div>

					<% elsif text == 'Showers' || text == 'Showers Late' %>
						<div class="icon icon-basecloud"></div>
						<div class="icon icon-showers"></div>

					<% elsif text == 'Rain' %>
						<div class="icon icon-basecloud"></div>
						<div class="icon icon-rainy"></div>

					<% elsif text == 'Mostly Cloudy' || text == 'Cloudy' %>
						<div class="icon icon-cloud"></div>

					<% elsif text == 'Scattered Thunderstorms' %>
						<div class="icon icon-basecloud"></div>
						<div class="icon icon-thunder"></div>
					
					<% end %>

				</div>

		<% end %>

	</div>
	
</div>