<%= render :partial => 'templates/tiles' %>

<%= render :partial => 'templates/slideshow' %>

<%= render :partial => 'templates/flipper' %>

<div class="content">

	<h1><%= @city.name %> Attractions</h1>

	<ul>

		<% @attractions.each do |attraction| %>

			<li class="item">
				<div>
					<%= image_tag(attraction.link) %>

					<div class="description">
						<h2><%= attraction.name %></h2>
						<p><%= attraction.description %></p>
						<div class="rating">
							<span class="glyphicon glyphicon-star-empty"></span>
							<div>
								<p>4.0<span>/</span>5</p>
							</div>
						</div>
					</div>

				</div>

				<div>

					<table>

						<tr>

							<td>
								<span class="glyphicon glyphicon-map-marker"></span>
								<div>
									<p><%= attraction.location %></p>
								</div>
							</td>

							<td>
								<span class="glyphicon glyphicon-globe"></span>
								<div>
									<a href="http://www.google.com" target="_blank">www.google.com</a>
								</div>
							</td>

						</tr>

						<tr>

							<td>
								<span class="glyphicon glyphicon-time"></span>
								<div>
									<p>XX:XX AM -- XX:XX PM</p>
								</div>
							</td>

							<td>
								<span class="glyphicon glyphicon-earphone"></span>
								<div>
									<p>(XXX) XXX-XXXX</p>
								</div>
							</td>

						</tr>

					</table>

				</div>

			</li>

		<% end %>

</div>