<%= render :partial => 'templates/tiles' %>

<%= render :partial => 'templates/slideshow' %>

<%= render :partial => 'templates/flipper' %>

<div class="content">

	<h1>Things to do in <span><%= @city.name %></span></h1>

	<ul>

		<% @city.gen_attractions.each do |attraction| %>

			<li class="item">
				<div>
					<%= image_tag(attraction.link) %>

					<div class="description">
						<h2><%= attraction.name %></h2>
						<p><%= attraction.description %></p>
						<div class="rating">
							<span class="glyphicon glyphicon-star-empty"></span>
							<div>
								<p><%= attraction.rating %><span>/</span>5</p>
							</div>
						</div>
					</div>

				</div>

				<div>

					<table>

						<tr>

							<td>
								<span class="glyphicon glyphicon-map-marker"></span>
								<div>
									<p><%= attraction.location %></p>
								</div>
							</td>

							<td>
								<span class="glyphicon glyphicon-globe"></span>
								<div>
									<a href="<%= attraction.website %>" target="_blank"><%= attraction.website %></a>
								</div>
							</td>

						</tr>

						<tr>

							<td>
								<span class="glyphicon glyphicon-time"></span>
								<div>
									<p><%= attraction.hours %></p>
								</div>
							</td>

							<td>
								<span class="glyphicon glyphicon-earphone"></span>
								<div>
									<p><%= attraction.phone %></p>
								</div>
							</td>

						</tr>

					</table>

					<button id="show<%= attraction.iframe_id %>">Show in map</button>

				</div>

				<div class="map" id="<%= attraction.iframe_id %>">

					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2689.289373635538!2d-122.34927700000004!3d47.620506!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490151f4ed5b7f9%3A0xdb2ba8689ed0920d!2sSpace+Needle!5e0!3m2!1sen!2sus!4v1417050525679"></iframe>

				</div>

			</li>

		<% end %>

</div>