<%= render :partial => 'templates/tiles' %>

<%= render :partial => 'templates/slideshow' %>

<%= render :partial => 'templates/flipper' %>

<div class="content">

	<h1><%= @city.name %> Attractions</h1>

	<% @city.gen_attractions.each do |attraction| %>

		<div>

			<h2><%= attraction.name %></h2>

			<div class="img">				
					<%= image_tag(attraction.link) %>				
			</div>

			<div class="text">
				<p><%= attraction.description %></p>
				<p>Pricing: <%= attraction.pricing %></p>
				<p>Address: <%= attraction.location %></p>
			</div>

		</div>

	<% end %>

</div>