<%= render :partial => 'templates/tiles' %>

<%= render :partial => 'templates/slideshow' %>

<%= render :partial => 'templates/flipper' %>

<div class="content">

	<h1><%= @city.name %> Restaurants</h1>

	<% @city.gen_restaurants.each do |restaurant| %>

		<div>

			<h2><%= restaurant.name %></h2>

			<div class="img">
				<%= image_tag(image.link) %>
			</div>

			<div class="text">
				<p><%= restaurant.description %></p>
				<p>Pricing: <%= restaurant.pricing %></p>
				<p>Address: <%= restaurant.address %></p>
			</div>

		</div>

	<% end %>

</div>