<%= render :partial => 'templates/tiles' %>

<div class="slideshow">

<% @slideshow.each do |slide| %>
	<%= slide[:link] %>
	<br/>
	<br/>

<% end %>

<%= @test.first.inspect %>

<br/>
<%= @slideshow.first.inspect %>

</div>

<%= render :partial => 'templates/flipper' %>

<div class="holiday">

</div>

<%= render :partial => 'templates/calendar' %>

<div class="instafeed">

</div>