<meta name="description" content="Browse through a list of attractions in <%= @city.name %> with detailed information.">

<title><%= @city.name %> Attractions - 

<%= render :partial => 'templates/head' %>

<%= render :partial => 'templates/tiles' %>

<%= render :partial => 'templates/slideshow' %>

<%= render :partial => 'templates/flipper' %>

<div class="content">

  <h1>Things to visit <span>in <%= @city.name %></span></h1>

  <ul>

    <% @city.gen_attractions.order(:name).each do |attraction| %>

      <li class="item">
        <div>

          <div class="price-img">
            <%= image_tag(attraction.image_thumb.url) %>
            <div></div>
            <p><%= bip(attraction, :pricing) %></p>
          </div>

          <div class="description">
            <h2><%= bip(attraction, :name) %></h2>
            <p><%= bip(attraction, :description, :textarea) %></p>
            <div class="rating">
              <span class="eleganticon icon_star"></span>
              <div>
                <p><%= bip(attraction, :rating) %><span class="slash">/</span>5</p>               
              </div>

            </div>
          </div>

        </div>

        <div>

          <table>

            <tr>

              <td>
                <span class="eleganticon icon_pin_alt"></span>
                <div>
                  <p><%= bip(attraction, :location) %></p>
                </div>
              </td>

              <td>
                <span class="eleganticon icon_globe-2"></span>
                <div>
                  <a href="<%= attraction.website %>" target="_blank"><%= login_text("Short URL: ") %><%= bip(attraction, :short_url) %></a>                  
                </div>                
              </td>

              <% if user_signed_in? %>
                <td>
                  Actual URL: <%= bip(attraction, :website) %>
                </td>
              <% end %>

            </tr>

            <tr>

              <td>
                <span class="eleganticon icon_clock_alt"></span>
                <div>
                  <p><%= bip(attraction, :hours) %></p>
                </div>
              </td>

              <td>
                <span class="eleganticon icon_phone"></span>
                <div>
                  <p><%= bip(attraction, :phone) %></p>
                </div>
              </td>

            </tr>

          </table>
          
          <%= cms_delete(attraction) %>

          <button id="show<%= attraction.id %>"><span class="eleganticon icon_map_alt"></span>Show/hide map<span class="caret"></span></button>

        </div>

        <div class="map" id="<%= attraction.id %>">

          <% if user_signed_in? %>
          IFrame Url:
            <%= bip(attraction, :iframe_url, :textarea) %>
          <% end %>

          <iframe src="<%= attraction.iframe_url %>"></iframe>

        </div>

        <%= cms_upload(attraction, :image_thumb, "Thumbnail Image") %>
        <%= cms_upload(attraction, :image, "Slideshow Image") %>

      </li>

    <hr>

    <% end %>
    
    <%= cms_add(gen_attractions_path, "New Attraction") %>

  </ul>

</div>