<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @gen_attraction, :name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gen_attraction.description %>
</p>

<p>
  <strong>Pricing:</strong>
  <%= @gen_attraction.pricing %>
</p>

<p>
  <strong>Location:</strong>
  <%= @gen_attraction.location %>
</p>

<p>
  <strong>Link:</strong>
  <%= @gen_attraction.link %>
</p>

<p>
  <strong>Image description:</strong>
  <%= @gen_attraction.image_description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @gen_attraction.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @gen_attraction.website %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @gen_attraction.hours %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @gen_attraction.rating %>
</p>

<p>
  <strong>Iframe:</strong>
  <%= @gen_attraction.iframe_id %>
</p>

<p>
  <strong>Button:</strong>
  <%= @gen_attraction.button_id %>
</p>

<p>
  <strong>Gen packages:</strong>
  <%= @gen_attraction.gen_packages %>
</p>

<%= link_to 'Edit', edit_gen_attraction_path(@gen_attraction) %> |
<%= link_to 'Back', gen_attractions_path %>
