<meta name="description" content="">

<title>About Us - 

<%= render :partial => 'templates/head' %>

<div class="content">

  <h1>About <span>Us</span></h1>

  <ul>

    <% @abouts.order(:name).each do |about| %>

    <li class="item">
      <div>

        <div class="about-img">
          <%= image_tag(about.image.url) %>
        </div>

        <%= cms_upload(about, :image, "Upload Portrait") %>

        <div class="description about-description">
          <h2><%= bip(about, :name) %></h2>
          <p><%= bip(about, :description, :textarea) %></p>
        </div>

      </div>

      <div>

        <table>

          <tr>

            <td>
              <span class="eleganticon icon_mail_alt"></span>
              <div>
                <a href="mailto:<%= about.email %>"><%= bip(about, :email) %></a>
              </div>
            </td>

            <td>
              <span class="eleganticon icon_phone"></span>
              <div>
                <p><%= bip(about, :phone) %></p>
              </div>
            </td>

          </tr>

        </table>

      </div>

      <%= cms_delete(about) %>

    </li>

    <hr>

    <% end %>   

  </ul>

  <%= cms_add(abouts_path, "Add Person") %>

</div>
