<meta name="description" content="Browse through a list of hotels in <%= @city.name %> with detailed information.">

<title><%= @city.name %> Hotels - 

<%= render :partial => 'templates/head' %>

<%= render :partial => 'templates/tiles' %>

<%= render :partial => 'templates/slideshow' %>

<%= render :partial => 'templates/flipper' %>

<div class="content">

  <h1>Places to stay <span>in <%= @city.name %></span></h1>

  <ul>

    <% @city.gen_hotels.order(:name).each do |hotel| %>

      <li class="item">
        <div>
          
          <div class="price-img">
            <%= image_tag(hotel.image_thumb.url) %>
            <div></div>
            <p><%= bip(hotel, :pricing) %></p>
          </div>

          <div class="description">
            <h2><%= bip(hotel, :name) %></h2>
            <p><%= bip(hotel, :description, :textarea) %></p>

            <%= cms_upload(hotel, :image_thumb, "Thumbnail Image") %>
            <%= cms_upload(hotel, :image, "Slideshow Image") %>

            <div class="rating">
              <span class="eleganticon icon_star"></span>
              <div>
                <p><%= bip(hotel, :rating) %><span class="slash">/</span>5</p>
              </div>

            </div>
          </div>

        </div>

        <div>

          <table>

            <tr>

              <td>
                <span class="eleganticon icon_pin_alt"></span>
                <div>
                  <p><%= bip(hotel, :address) %></p>
                </div>
              </td>

              <td>
                <span class="eleganticon icon_globe-2"></span>
                <div>
                  <a href="<%= hotel.website %>" target="_blank"><%= login_text("Short URL: ") %><%= bip(hotel, :short_url) %></a>
                  <% if user_signed_in? %>
                    Actual URL: <%= bip(hotel, :website) %>
                  <% end %>
                </div>
              </td>

            </tr>

            <tr>

              <td>
                <span class="eleganticon icon_clock_alt"></span>
                <div>
                  <p><%= bip(hotel, :hours) %></p>
                </div>
              </td>

              <td>
                <span class="eleganticon icon_phone"></span>
                <div>
                  <p><%= bip(hotel, :phone) %></p>
                </div>
              </td>

            </tr>

          </table>

          <%= cms_delete(hotel) %>

          <button id="show<%= hotel.id %>"><span class="eleganticon icon_map_alt"></span>Show/hide map<span class="caret"></span></button>

        </div>

        <div class="map" id="<%= hotel.id %>">

        <% if user_signed_in? %>
          IFrame Url:
            <%= bip(hotel, :iframe_url, :textarea) %>
          <% end %>

          <iframe src="<%= hotel.iframe_url %>"></iframe>

        </div>

      </li>

    <hr>

    <% end %>

    <%= cms_add(gen_hotels_path, "New Hotel") %>

  </ul>

</div>