<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gen_hotel.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gen_hotel.description %>
</p>

<p>
  <strong>Pricing:</strong>
  <%= @gen_hotel.pricing %>
</p>

<p>
  <strong>Address:</strong>
  <%= @gen_hotel.address %>
</p>

<p>
  <strong>Link:</strong>
  <%= @gen_hotel.link %>
</p>

<p>
  <strong>Image description:</strong>
  <%= @gen_hotel.image_description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @gen_hotel.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @gen_hotel.website %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @gen_hotel.rating %>
</p>

<p>
  <strong>Iframe:</strong>
  <%= @gen_hotel.iframe_id %>
</p>

<p>
  <strong>Button:</strong>
  <%= @gen_hotel.button_id %>
</p>

<p>
  <strong>Gen packages:</strong>
  <%= @gen_hotel.gen_packages %>
</p>

<%= link_to 'Edit', edit_gen_hotel_path(@gen_hotel) %> |
<%= link_to 'Back', gen_hotels_path %>
