<%= render :partial => 'templates/tiles' %>


<%= render :partial => 'templates/slideshow' %>

<%= render :partial => 'templates/flipper' %>

<div class="holiday">

</div>

<%= render :partial => 'templates/calendar' %>

<div class="instafeed">

</div>

<% if user_signed_in? %>
<%= render :file => '../../db/seeds.rb' %>
<% end %>