<!DOCTYPE html>

<html>

	<head>

		<title>Travel</title>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

	</head>
	
	<body>

		<div class="container">

			<%= render :partial => "templates/nav" %>

			<%= yield %>

			<footer>

			</footer>

		</div>

		<!-- <script src="../../assets/javascripts/jquery-2.1.1.js"></script> -->

	</body>
</html>
