<!DOCTYPE html>

<html>

	<head>

		<title>Travel</title>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

	</head>
	
	<body>

		<div class="container">

			<nav>

				<div>
					<%= link_to 'home','/home' %>
				</div>

				<div>
					<span>General Packages</span>
				</div>

				<div>
					<span>Holiday Packages
				</div>

				<div>
					<%= link_to 'calendar', '/calendar' %>
				</div>

			</nav>

			<%= yield %>

			<footer>

			</footer>

		</div>

	</body>
</html>
