<!DOCTYPE html>

<html>

	<head>

		<title>Travel</title>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

	</head>
	
	<body>

		<div class="container">

			<%= render :partial => "templates/nav" %>

			<%= yield %>

			<footer>

				<div class="social">

					<div>
						<a href="">
							<%= image_tag("icons/facebook.png") %>
							<span>Like us on Facebook</span>
						</a>
					</div>

					<div>
						<a href="">
							<%= image_tag("icons/twitter.png") %>
							<span>Follow us on Twitter</span>
						</a>
					</div>

					<div>
						<a href="">
							<%= image_tag("icons/google_plus.png") %>
							<span>Like us on Google+</span>
						</a>
					</div>

					<div>
						<a href="">
							<%= image_tag("icons/instagram.png") %>
							<span>Follow us on Instagram</span>
						</a>
					</div>

				</div>

				<div>
					<p>
						&copy; 2014 Insert Name Here | 
						<a href="">Link</a> | 
						<a href="">Link</a> | 
						<a href="">Link</a> | 
						<a href="">Link</a>
					</p>
				</div>

			</footer>

		</div>

		<!-- <script src="../../assets/javascripts/jquery-2.1.1.js"></script> -->

		<script>
			$(document).ready(function(){
			  $('.bxslider').bxSlider();
			  $('.weather-bxslider').bxSlider({
			  	touchEnabled: false,
			  	pager: false,
			  	controls: false
			  });
			});

			var slider = $('.bxslider').bxSlider({
		    onSlideNext: doThis,
		    onSlidePrev: doThis,
		    onSlideBefore: doThis,
		    onSlideAfter: doThis
			});
			var slider1 = $('.weather-bxslider').bxSlider({
		    onSlideNext: doThis,
		    onSlidePrev: doThis,
		    onSlideBefore: doThis,
		    onSlideAfter: doThis
			});

			function doThis(ele, old, newi){
		    slider.goToSlide(newi);
		    slider1.goToSlide(newi);
			};
		</script>

	</body>
</html>
