<!DOCTYPE html>

<html>

	<head>

		<title>Travel</title>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

	</head>
	
	<body>

		<div class="container">

			<%= render :partial => "templates/nav" %>

			<div class="main">

			<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

				<%= yield %>

			</div>

			<%= render :partial => "templates/footer" %>

		</div>

		<!-- <script src="../../assets/javascripts/jquery-2.1.1.js"></script> -->

		<script>
			$(document).ready(function(){
			  $('.bxslider').bxSlider();
			  $('.weather-bxslider').bxSlider({
			  	touchEnabled: false,
			  	pager: false,
			  	controls: false
			  });
			});

			var slider = $('.bxslider').bxSlider({
		    onSlideNext: doThis,
		    onSlidePrev: doThis,
		    onSlideBefore: doThis,
		    onSlideAfter: doThis
			});
			var slider1 = $('.weather-bxslider').bxSlider({
		    onSlideNext: doThis,
		    onSlidePrev: doThis,
		    onSlideBefore: doThis,
		    onSlideAfter: doThis
			});

			function doThis(ele, old, newi){
		    slider.goToSlide(newi);
		    slider1.goToSlide(newi);
			};
		</script>

	</body>
</html>
