<!DOCTYPE html>

<html>

	<head>

		<title>World Wide Wanderings</title>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

	</head>
	
	<body>

		<div class="container">

			<%= render :partial => "templates/nav" %>

			<div class="main">

			<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

				<%= yield %>

			</div>

			<%= render :partial => "templates/footer" %>

		</div>

	</body>
</html>
